<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<nav class="navbar has-background-primary" role="navigation" aria-label="main navigation" id="navBarBanner">

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <a href="/blogs" class="navbar-item">
                Dashboard
            </a>

            {{#if logged_in}}
            <a href="/blogs/create" class="navbar-item">
                Create a Post
            </a>
            {{/if}}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">

                {{#if logged_in}}
                <div class="buttons">
                    <a id="logout" href="/logout" class="button is-danger" data-user-id="{{user_id}}">
                        Log out
                    </a>
                </div>
                {{else}}
                <div class="buttons">
                    <a href="/signup" class="button is-warning">
                        <strong>Sign up</strong>
                    </a>
                    <a href="/login" class="button is-light">
                        Log in
                    </a>
                </div>
                {{/if}}

            </div>
        </div>
</nav>
<div class="Mainpage">
    {{{body}}}
</div>
</main>
{{#if logged_in}}
{{!-- script for homepage/main page functionality --}}
<script src="/js/logout.js"></script>
{{/if}}

</html>